.overskrift {
  padding-left: 100px;
}

.overskrift h1 {
padding: 20px 0;
}

 .billede {
  width: 60%;
  height: 500px;
  background-image: url(../billeder/pandemier.jpg);
  background-position: center;
  background-size: cover;

}

.begivenhed_info {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.info_tekst {
  padding-right: 100px;
}

button{
  margin-left: 0;
}

.begivenhed_beskrivelse {
  background-color: #DFEAE9;
  padding: 30px 100px;
}

.begivenhed_beskrivelse h1 {
  padding-top: 20px;
  margin: 0;
}

.begivenhed_beskrivelse p {
  padding-bottom: 20px;
  margin: 0;
  width: 60%;
}
