/* billeder til forside */

.foredrag {
  padding: 0 100px;
  padding-bottom: 50px;
}

.foredrag1 {
  background-image: url(../billeder/pandemier.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  transition: transform .2s;
}

.foredrag_wrapper {
  display: flex;
  margin-bottom: 20px;
}

.foredrag_wrapper2 {
  display: flex;
  margin-bottom: 20px;
}

.foredrag2 {
  background-image: url(../billeder/kajak.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-right: 20px;
  transition: transform .2s;
}

.foredrag3 {
  background-image: url(../billeder/vejr.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  transition: transform .2s;
}

.foredrag4 {
  background-image: url(../billeder/pot.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  transition: transform .2s;
}

.foredrag5 {
  background-image: url(../billeder/humor.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  transition: transform .2s;
}

.foredrag6 {
  background-image: url(../billeder/grundtvig.jpg);
  height: 300px;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  transition: transform .2s;
}

/* hover til billeder */

.foredrag1:hover, .foredrag2:hover, .foredrag3:hover, .foredrag4:hover, .foredrag5:hover, .foredrag6:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/* text til billeder */

h2 {
  margin: 0;
  padding-top: 190px;
  padding-left: 20px;
  font-size: 60px;
  color: white;
  border-color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.foredrag_tekst {
  margin: 0;
  padding-left: 23px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
}

/* ting der ikke skal vises over 1100px */

.foredrag5_mobil {
  display: none;
}

@media screen and (max-width: 1100px) {
  .foredrag5 {
    display: none;
  }

  .foredrag_wrapper {
    column-gap: 20px;
  }

  .foredrag_wrapper2 {
    column-gap: 20px;
  }

  .foredrag2 {
    margin-right: 0px;
  }

  .foredrag5_mobil {
    display: block;
    background-image: url(../billeder/humor.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    transition: transform .2s;
  }

  .foredrag5_mobil:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

}

@media screen and (max-width: 1040px) {
  .foredrag_wrapper {
    display: block;
  }

  .foredrag3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 820px) {
  .foredrag_wrapper2 {
    display: block;
  }

  .foredrag6 {
    margin-top: 20px;
  }

  .foredrag {
    padding: 0 50px;
  }

  .foredrag5_mobil {
    margin-bottom: 50px;
  }
}


@media screen and (max-width: 700px) {
  .foredrag {
    padding: 0 20px;
  }

  h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 30px;
    padding-top: 225px;
  }
}
