.forside_medlem {
  background-color: #DFEAE9;
}

.forside_medlem p {
  margin: 16px 0;
}

h1 {
  margin: 0;
}

.medlem_sektion {
  padding: 50px 400px;
}


.medlem_sektion h1 {
  font-size: 60px;
}

.knapper {
  text-align: center;
}

.se_mere {
  background-color: #DFEAE9;
  padding: 7px 17px;
  border: 3px solid #EA701B;
  color: black;
  margin-right: 20px;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  .medlem_sektion {
    padding: 50px 300px;
  }
}

@media screen and (max-width: 1000px) {
  .medlem_sektion {
    padding: 50px 200px;
  }
}

@media screen and (max-width: 820px) {
  .medlem_sektion {
    padding: 50px 150px;
  }
}

@media screen and (max-width: 700px) {
  .medlem_sektion {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 600px) {
  .medlem_sektion {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 450px) {
  .medlem_sektion h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .se_mere {
    margin-right: 0px;

  }
}
