main h1 {
  margin-top: 0;
}

.historie {
  padding: 0px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #DFEAE9;
  margin-bottom: 50px;
  margin-top: 0;
}

.historie_overskrift {
  background-color: #DFEAE9;
  padding-top: 20px;
}

.lort {
  width: 60%;
}

.lort p {
}

img {
  width: 30%;
  height: 440px;
}

h1 {
  padding-left: 100px;
  margin-bottom: 0;
}


.vmv {
  padding: 50px 100px;
  background-color: #1D3D5A;
  color: white;
}

.vm {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 50px 100px;
}

.vm img {
  width: 30%;
  height: auto;
}

.verdier {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.verdier_tekst {
  width: 60%;
}

.verdier img {
  width: 350px;
  height: 450px;
  border-radius: 50%;
  zoom: 150%;
}

#mere {
  display: none;
}

.bestyrelsen {
  padding: 50px 0px;
}


.bestyrelse_billeder {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.circle_bestyrelse1 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url(../billeder/Hans_jensen.jpg);
  background-position: center;
  background-size: cover;
}

.circle_bestyrelse2 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url(../billeder/Hans_jensen1.jpg);
  background-position: center;
  background-size: cover;
}

.circle_bestyrelse3 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url(../billeder/Hans_jensen2.jpg);
  background-position: top;
  background-size: cover;
}

.circle_bestyrelse4 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url(../billeder/Hans_jensen3.jpg);
  background-position: center;
  background-size: cover;
}

.bestyrelse_figure p {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

button{
  margin: 0;
  margin-top: 20px;
}

.bestyrelse_figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.hiddentxtclick {
  display: flex;
  align-items: center;
}

.hiddentxtclick p {
  margin-right: 5px;
  cursor: pointer;
}

.fa-chevron-down {
  cursor: pointer;
  color: black;
}

.dropDrownClick {
  color: white;
}

.pdf {
  text-decoration: none;
  color: black;
  padding-left: 100px;
}

.pdf:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1230px) {
  .circle_bestyrelse1, .circle_bestyrelse2, .circle_bestyrelse3, .circle_bestyrelse4 {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .circle_bestyrelse1, .circle_bestyrelse2, .circle_bestyrelse3, .circle_bestyrelse4 {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 820px) {
  .historie {
    padding: 0px 50px 50px 50px;
    display: block;
  }

  h1 {
    padding-left: 50px;
  }

  img {
    width: 50%;
    height: auto;
  }

  .lort {
    width: 100%;
  }

  .vmv {
    padding: 50px 50px;
    background-color: #1D3D5A;
  }

  .vm {
    display: block;
    background-color: white;
    padding: 0 100px 50px 100px;
  }

  .verdier_tekst {
    width: 100%;
  }
  .vm img {
    width: 100%;
    height: auto;
  }

  .verdier {
    display: block;
  }

  .verdier img {
    width: 100%;
    height: auto;
  }

  .bestyrelse_billeder {
    padding: 50px 50px;
  }

  .pdf {
    padding-left: 50px;
  }
}


@media screen and (max-width: 700px) {
  .historie {
    padding: 0px 20px 50px 20px;
  }

  h1 {
    padding-left: 20px;
  }

  .vmv {
    padding: 50px 20px;
  }

  .bestyrelse_billeder {
    display: block;
    padding: 50px 20px;
  }

  .circle_bestyrelse1, .circle_bestyrelse2, .circle_bestyrelse3, .circle_bestyrelse4 {
    height: 250px;
    width: 250px;
  }

  .pdf {
    padding-left: 20px;
  }
}
