

.foredrag1 {
  background-image: url(billeder/foredrag.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.forside_medlem {
  background-color: #DFEAE9;
  padding-bottom: 50px;

}


.forside_medlem p {
  margin: 0;
}

.medlem_sektion {
  padding: 50px 400px;
  text-align: center;
}


.medlem_sektion h1 {
  font-size: 60px;
}

button {
  border: none;
  background-color: #EA701B;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 50px;

}

.se_mere {
  background-color: #DFEAE9;
  padding: 7px 17px;
  border: 3px solid #EA701B;
  color: black;
  margin-right: 20px;
}
