body {
  margin: 0;
  font-family: arial;
}

button {
  border: none;
  background-color: #EA701B;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 50px;
  cursor: pointer;
}

main {
  margin-top: 95px;
}

h1 {
  font-size: 60px;
}

/* Navigation css */

nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid grey;
}

/* logo */

.logo_wrapper {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.menu_logo {
  width: auto;
  height: 75px;
}

.logo_tekst {
  text-decoration: none;
  color: black;
}

/* menu */

.top_nav {
  margin-left: auto;
  padding-right: 100px;
}

.top_nav a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

#tilmeld_knap {
  background-color: #EA701B;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#aktiv_side {
  text-decoration: 3px underline #EA701B;
}

/* Footer */

footer {
  background-color: #1D3D5A;
  padding: 20px 100px;
}
.footer_menu_wrapper section p {
  color: white;
  font-weight: bold;
}
.footer_menu_wrapper section a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 4px 0;
}

.footer_menu_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: auto;
  height: 75px;
}

.footer_logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.footer_logo_wrapper a {
  color: white;
  text-decoration: none;
}

.footer_menu2 {
  width: 400px;
}

#om_os_footer {
font-weight: normal;
}

.bold_text {
  font-weight: bold;
}
