body {
  margin: 0;
  font-family: arial;
}

/* Navigation css */

nav {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

/* logo */

.menu_logo {
  width: 75px;
  height: 75px;
}

.logo_tekst {
  margin-right: auto;
  text-decoration: none;
  color: black;
}

/* menu */

.top_nav a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

#tilmeld_knap {
  background-color: #EA701B;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  margin: 0 -100px;
}

/* Footer */

footer {
  background-color: #1D3D5A;
  padding: 20px 100px;
}
.footer_menu_wrapper section p {
  color: white;
  font-weight: bold;
}
.footer_menu_wrapper section a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 4px 0;
}

.footer_menu_wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 75px;
  height: 75px;
}

.footer_logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.footer_logo_wrapper a {
  color: white;
  text-decoration: none;
}

.footer_menu2 {
  width: 400px;
}

#om_os_footer {
font-weight: normal;
